# Dependency & Node modules
node_modules/
.pnp
.pnp.js

# Build outputs & Vercel
.vercel
dist/
build/
out/

# Environment & local secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System & IDE junk
.DS_Store
Thumbs.db
*.bak
*.tmp
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
